* {
  font-family:  'Inter', sans-serif;
}

.bg-purple {
  background-color: #664de5;
}

.textgray {
 color: #060d1b;
}

.line-height {
  height: 1.5px;
  width: 32px;
}

@media (max-width: 425px) {
  .line-height {
    width: 18px;
  }
}

.heading-size {
  font-size: 30px;
}

@media (max-width: 425px) {
  .heading-size {
    font-size: 24px;
  }
}

@media (max-width: 320px) {
  .heading-size {
    font-size: 20px;
  }
}

.planning-border {
  border: 1px solid #d9d9db;
  border-radius: 8px;
}

.border-purple {
  border: 1px solid #664de5;
}

.textGray {
  color: #9ea8bd;
}

.planning-width {
  width: 400px;
}

.planning-width-flex {
  display: flex;
  flex-direction: row;
}

@media(max-width: 600px) {
  .planning-width {
    width: 100%;
  }
  .planning-width-flex {
    flex-direction: column;
    width: 100%;
  }
  .planning-space {
    margin-top: 15px;
  }
}

.welcome-sizing {
  width: 100%;
}

@media(max-width: 425px) {
  .welcome-sizing {
    width: auto;
    margin: 35px;
  }
}

.input-size {
  width: 384px;
}

@media(max-width: 425px) {
  .input-size {
    width: 300px;
  }
}